body{


}


#paragrafos{
    color: red;
    background-image: url(../Assets/fundo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

.subDiv{
    background-color: aqua;
}

#titulo{
    color: rgb(255, 255, 0);
}

.texto_verde{
    color: green;
    background-image: url(../Assets/tile.png);
    background-position: center; /* ele vai manter o fundo centralizado*/
    background-repeat: no-repeat;


}