
.card{
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 1px 20px;
    background: url('./background3.3.jpg') no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
    border: 3px solid black;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(8, 100, 300, 0.8);
    text-shadow: -1px -1px 0px green, 
                     -1px 1px 0px green, 
                      1px -1px 0px blue, 
                      1px 0px 0px blue;
}

a{
    text-decoration: none;
    color: rgba(8, 69, 246, 0.8);
    text-shadow: -1px -1px 0px beige;
}

.github{
    list-style-image: url('./GitHub.png');
}

.linkedin{
    list-style-image: url('./LinkedIn.png');
    margin: 3px;

}

.whatsapp{
    list-style-image: url('./WhatsApp.png');
    margin: 5px;
    padding: auto;
}
