body{
    background-color: navajowhite;
}

.Card{
    width: 420;
    height: 200;
    box-sizing: border-box;
    padding: 1px 20px;
    background: url('./background.png') no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
}

a{
    text-decoration: none;
    color: black;
}

.GitHub{
    box-sizing: border-box;
    range: url('/Insta.png');
    height: 40;
    width: 40;
    padding: 10px;
}

.LinkedIn{
    height: 40;
    width: 40;
    padding: auto;
}

.WhatsApp{
    height: 40;
    width: 40;
}