body{
    padding: 0;
    margin: 0;
}

.container{
    background-color: red;
    padding: 5px;
    border: 5px solid blue;
    margin: 10px;
}

.content{
    background-color: #ddd;
    border: 5px solid green; /* se fosse um outline ao inves do border, ele sumiria com o vermelho
    pois ele não trabalha junto com o box model, ele é a parte */
    padding: 5px;

}

.square{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 10px solid blue;
    padding: 10px;
   /* box-sizing: border-box;*/
    
}

.square2{
    width: 100px;
    height: 100px;
    background-color: yellow;
   
}